<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .a4-landscape {
            width: 297mm;
            height: 210mm;
        }
    </style>

</head>

<body>
    <div class="a4-landscape">
        <table style="width: 100%;" border="1">
            <tbody>
                <tr style="height: 11px;">
                    <td style="width: 18%; height: 74px; text-align: center; vertical-align: middle;" rowspan="4">UTNA
                    </td>
                    <td style="width: 60.5906%; height: 32px; text-align: center; vertical-align: middle;" rowspan="2">
                        UNIVERSIDAD TECN&Oacute;LOGICA DEL NORTE DE AGUASCALIENTES</td>
                    <td style="width: 14.4094%; height: 11px;">REVISI&Oacute;N: 3</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 14.4094%; height: 21px;">C&Oacute;DIGO: FM-EDP-01/01</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 60.5906%; height: 42px; text-align: center; vertical-align: middle;" rowspan="2">
                        &nbsp; FORMATO PARA LA EVALUACI&Oacute;N DEL DESEMPE&Ntilde;O DEL PERSONAL</td>
                    <td style="width: 14.4094%; height: 21px;">REF. NORMATIVA: 6.2</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 14.4094%; height: 21px;">&nbsp;HOJA 1 DE 3</td>
                </tr>
                <tr style="height: 54.5px;">
                    <td style="width: 93%; height: 54.5px;" colspan="3">&nbsp;&nbsp;&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%;" border="1">
            <tbody>
                <tr style="height: 21px;">
                    <td style="width: 11%; height: 21px;">NOMBRE:</td>
                    <td style="width: 28.1559%; height: 21px;">JEREMY OSWALD RICHARTE BERNAL</td>
                    <td style="width: 10%; height: 21px;">PUESTO:</td>
                    <td style="width: 12%; height: 21px;">PUESTO</td>
                    <td style="width: 11%; height: 21px;">NO. EMPLEADO:</td>
                    <td style="width: 11%; height: 21px;">&nbsp;999</td>
                    <td style="width: 15%; height: 21px;">FECHA: 14/03/2000</td>
                </tr>
                <tr style="height: 41px;">
                    <td style="width: 11%; height: 41px;">DEPARTAMENTO:</td>
                    <td style="width: 28.1559%; height: 41px;">PROMOCI&Oacute;N, COMUNICACI&Oacute;N Y EXTENSI&Oacute;N
                        UNIVERSITARIA</td>
                    <td style="width: 10%; height: 41px;">CATEGORIA:</td>
                    <td style="width: 12%; height: 41px;">CONFIANZA</td>
                    <td style="width: 11%; height: 41px;">PROMEDIO:</td>
                    <td style="width: 11%; height: 41px;">100.0%</td>
                    <td style="width: 15%; height: 41px;">&nbsp;</td>
                </tr>
                <tr style="height: 61px; background-color: #ededed;">
                    <td style="width: 11%; height: 61px;" colspan="7">INSTRUCCIONES: Califque el desempe&ntilde;o del
                        empleado...</td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%;" border="1">
            <tbody>
                <tr style="height: 21px; background-color: #cdcdcd;">
                    <td style="width: 43%; height: 21px; text-align: center;" colspan="2">FACTORES DE EVALUACION</td>
                    <td style="width: 40%; height: 21px; text-align: center;" colspan="4">ESTANDARES / CATEGORIAS PARA
                        LA EVALUACI&Oacute;N DEL DESEMPE&Ntilde;O</td>
                    <td style="width: 10%; text-align: center; height: 21px;">&nbsp;RESULTADO</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 19%; height: 89px;" rowspan="3">&nbsp;I. CUMPLIMIENTO</td>
                    <td style="width: 24%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;DEFICIENTE</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;REGULAR</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;BUENO</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;MUY BUENO</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                </tr>
                <tr style="height: 47px;">
                    <td style="width: 24%; height: 68px;" rowspan="2">1. FUNCIONES PRINCIPALES</td>
                    <td style="width: 10%; height: 47px;">&nbsp;</td>
                    <td style="width: 10%; height: 47px;">&nbsp;</td>
                    <td style="width: 10%; height: 47px;">&nbsp;</td>
                    <td style="width: 10%; height: 47px; text-align: center; vertical-align: middle;">&nbsp;x</td>
                    <td style="width: 10%; height: 68px; text-align: center; vertical-align: middle;" rowspan="2">
                        &nbsp;&nbsp;25.0%</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">25.0%</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 19%; height: 73px;" rowspan="3">&nbsp;II. GRADO DE CUMPLIMIENTO</td>
                    <td style="width: 24%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;DEFICIENTE</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;REGULAR</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;BUENO</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;MUY BUENO</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                </tr>
                <tr style="height: 48px;">
                    <td style="width: 24%; height: 52px;" rowspan="2">1. COMPETENCIAS Y/O HABILIDADES</td>
                    <td style="width: 10%; height: 48px;">&nbsp;</td>
                    <td style="width: 10%; height: 48px;">&nbsp;</td>
                    <td style="width: 10%; height: 48px;">&nbsp;</td>
                    <td style="width: 10%; height: 48px; text-align: center; vertical-align: middle;">&nbsp;x</td>
                    <td style="width: 10%; height: 48px; text-align: center;" rowspan="2">20.0%</td>
                </tr>
                <tr style="height: 4px;">
                    <td style="width: 10%; height: 4px;">&nbsp;</td>
                    <td style="width: 10%; height: 4px;">&nbsp;</td>
                    <td style="width: 10%; height: 4px;">&nbsp;</td>
                    <td style="width: 10%; height: 4px; text-align: center;">20.0%</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 19%; height: 91px;" rowspan="3">&nbsp;III. GRADO DE CUMPLIMIENTO POA</td>
                    <td style="width: 24%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;DEFICIENTE</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;REGULAR</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;BUENO</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;MUY BUENO</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                </tr>
                <tr style="height: 49px;">
                    <td style="width: 24%; height: 70px;" rowspan="2">&nbsp;</td>
                    <td style="width: 10%; height: 49px;">&nbsp;</td>
                    <td style="width: 10%; height: 49px;">&nbsp;</td>
                    <td style="width: 10%; height: 49px;">&nbsp;</td>
                    <td style="width: 10%; height: 49px; text-align: center; vertical-align: middle;">&nbsp;x</td>
                    <td style="width: 10%; height: 49px; text-align: center;" rowspan="2">15.0%</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">15.0%</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 19%; height: 77px;" rowspan="3">&nbsp;IV. GRADO DE CUMPLIMIENTO EN LOS INDICADORES
                        ESTABLECIDOS EN EL SGC</td>
                    <td style="width: 24%; height: 21px;">&nbsp;</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;DEFICIENTE</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;REGULAR</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;BUENO</td>
                    <td style="width: 10%; height: 21px; text-align: center;">&nbsp;MUY BUENO</td>
                    <td style="width: 10%; height: 21px;">&nbsp;</td>
                </tr>
                <tr style="height: 51px;">
                    <td style="width: 24%; height: 56px;" rowspan="2">&nbsp;</td>
                    <td style="width: 10%; height: 51px;">&nbsp;</td>
                    <td style="width: 10%; height: 51px;">&nbsp;</td>
                    <td style="width: 10%; height: 51px;">&nbsp;</td>
                    <td style="width: 10%; height: 51px; text-align: center; vertical-align: middle;">&nbsp;x</td>
                    <td style="width: 10%; height: 51px; text-align: center;" rowspan="2">10.0%</td>
                </tr>
                <tr style="height: 5px;">
                    <td style="width: 10%; height: 5px;">&nbsp;</td>
                    <td style="width: 10%; height: 5px;">&nbsp;</td>
                    <td style="width: 10%; height: 5px;">&nbsp;</td>
                    <td style="width: 10%; height: 5px; text-align: center;">10.0%</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>