<!-- Footer -->
<footer class="page-footer w-100 font-small blue mt-5 py-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col col-md-4"></div>
            <div class="col col-md-4">
                <img class="mx-auto d-block pt-1" src="/img/logo.jpg" width="110px" alt="UTNA">
                </a>
                <h4>Universidad Tecnológica del Norte de Aguascalientes</h4>
            </div>
            <div class="col col-md-4"></div>
        </div>
        <div class="row mt-6">
            <div class="col-md-6 mb-md-0 mb-3 align-self-center">
                <h5 class="text-uppercase">Ubicación</h5>
                <ul class="list-unstyled">
                    <li><p>Av. Universidad #1001, La Estación Rincón, El Potrero</p></li>
                    <li><p>C.P. 20400 Rincón de Romos, Ags.</p></li>
                </ul>
            </div>

            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contáctanos</h5>
                <ul class="list-unstyled">
                    <li><p>Teléfono: 465 965 0030</p></li>
                    <li>
                        <i class="fab fa-facebook fa-2x"></i>
                        <p>Universidad Tecnológica del Norte de Aguascalientes</p>
                    </li>
                    <li>
                        <i class="fab fa-instagram fa-2x"></i>
                        <p>utna_edu</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright rounded-2 text-center py-3">
        <p>#Orgullo UTNA</p>
    </div>

</footer>
<!-- Footer -->