<div id="load-b" class="bg-light p-0 m-0 mx-auto flex-nowrap position-fixed d-flex">
    <div class="container h-100 d-flex">
        <div class="m-auto">
            <div class="spinner-border text-info"></div>
        </div>
    </div>
</div>