<noscript>
	<h1>
		<span data-lang="es">Por favor, activa Javascript en tu navegador</span>
		<span data-lang="en">Please enable Javascript in your browser</span>
	</h1>
</noscript>

<!-- Navbar -->
<div id="spinner-loading" class="floating-spinner show">
	<div class="w-100 h-100">
		<div>
			<div class="spinner-border text-info"></div>
		</div>
	</div>
</div>

<div id="spinner-waiting" class="floating-spinner show fade hide">
	<div class="w-100 vh-40">
		<div>
			<div class="spinner-border text-light"></div>
			<h3 class="text text-light">
				<p class="lang" data-lang="es">Por favor, espere...</p>
				<p class="lang" data-lang="en">Please wait...</p>
			</h3>
		</div>
	</div>
</div>

<div class="snack mx-auto w-25 d-flex flex-nowrap justify-content-center position-fixed">
	<div id="snack-container" class="container-fluid mt-5"></div>
</div>

<div id="tooltip"><p></p></div>

<nav id="layoutNavbar" data-log="<%= (session) ? true : false %>"
	class="sb-topnav navbar navbar-expand navbar-dark bg-dark text-end">
	<!-- Navbar Brand-->
	<a class="navbar-brand ps-3" href="/home/">
		<img class="mx-auto d-block pt-1" src="/img/logo-utna.png" width="100" alt="UTNA">
	</a>

	<!-- Sidebar Toggle-->
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" ><i
		class="fa-solid fa-bars"></i></button>

	<!-- Navbar Search-->
	<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>

	<!-- Navbar-->
	<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-5">
		<li class="nav-item dropdown">
			<% let temp = (session) ? session.name : '' %>
			<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
				aria-expanded="false"><i class="fa-solid fa-user fa-fw me-1"></i><%= temp %></a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

				<li><div class="container ps-3">
					<span data-lang="es">Lenguaje</span><span data-lang="en">Language</span>
					<div class="button b2 mt-2 mb-2" id="button-17">
						<input id="btn-lang" type="checkbox" class="checkbox">
							<div class="knobs" data-checked="English" data-unchecked="Español"><span></span></div>
						<div class="layer"></div>
					</div>
				</div></li>

				<% if(session) { %>
					<li><button class="dropdown-item container ps-3" data-bs-toggle="modal" data-bs-target="#modalPassword">
						<span data-lang="es">Cambiar contraseña</span><span data-lang="en">Change Password</span>
					</button></li>
					<li><a class="dropdown-item" href="javascript:logout()">
						<span data-lang="es">Cerrar sesión</span><span data-lang="en">Logout</span>
					</a></li>
				<% } %>
			</ul>
		</li>
	</ul>
</nav>
<!-- Navbar -->

<button id="modal-password-confirm" class="d-none" hidden data-bs-toggle="modal" data-bs-target="#passwordConfirm"></button>

<div id="modalPassword" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					<span data-lang="es">Cambiar contraseña</span>
					<span data-lang="en">Change Password</span>
				</h5>
				<button id="close-modal-password" type="button" class="btn-close cancel-pass" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h6 class="text-center">
					<span data-lang="es">Establece una nueva contraseña. La nueva contraseña debe contener al menos 8 caracteres.</span>
					<span data-lang="en">Set a new password. The new password must contain at least 8 characters.</span>
				</h6>
				<div class="reg-field mb-3 col-10 mx-auto">
					<div class="form-floating mb-3 mb-md-0">
						<input id="new-password" class="form-control dynamic-hint mandatory" data-hint-collection="user_info" autocomplete="new-password"
							name="name" id="name" type="password" placeholder="." maxlength="30" />
						<label for="name">
							<span class="lang" data-lang="es">Contraseña</span>
							<span class="lang" data-lang="en">Password</span>
							<span class="text-danger"><i class="fa-solid fa-asterisk"></i></span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary cancel-pass" data-bs-dismiss="modal">Close</button>
				<button id="check-pass" type="button" class="btn btn-primary">
					<span data-lang="es">Actualizar contraseña</span>
					<span data-lang="en">Update Password</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="passwordConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="passwordConfirmLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="passwordConfirmLabel">
					<span data-lang="es">Confirmar Acción</span>
					<span data-lang="en">Confirm Action</span>
				</h5>
				<button type="button" class="btn-close cancel-pass" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h6 class="text-center">
					<span data-lang="es">Debe asegurarse que recuerda la contraseña.
						¿Desea confirmar el cambio de contraseña?</span>
					<span data-lang="en">Make sure you remember the password.
						Do you want to confirm the password change?</span>
				</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary cancel-pass" data-bs-dismiss="modal">
					<span data-lang="es">Cancel</span>
					<span data-lang="en">Cancel</span>
				</button>
				<button id="update-pass" type="button" class="btn btn-primary" data-bs-dismiss="modal">
					<span data-lang="es">Confirmar</span>
					<span data-lang="en">Confirm</span>
				</button>
			</div>
		</div>
	</div>
</div>