<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sidebar-top-p top-border-b" data-color="#e29e20"></div>
                <a class="nav-link" href="/inicio/">
                    <div class="sb-nav-link-icon"><i class="fas fa-home fa-2x"></i></div>
                    Inicio
                </a>
                <% if (session) { %>
                        <div class="sb-sidenav-menu-heading green-border-t py-3">Reportes</div>
                        <a class="nav-link" href="/reportes/">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-line fa-2x"></i></div>
                            Reporte
                        </a>
                        <% if (session.lvl <= 4) { %>
                            <a class="nav-link" href="/control/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table fa-2x"></i></div>
                                Tabla Control
                            </a>
                        <% } %>

                        <div class="sb-sidenav-menu-heading orange-border-t py-3">Acciones</div>
                        <% if (session.evaluation) { %>
                            <a class="nav-link" href="/encuesta/">
                                <div class="sb-nav-link-icon"><i class="fas fa-pen-alt fa-2x"></i></div>
                                Encuesta
                            </a>
                        <% } %>
                        <a class="nav-link" href="javascript:logout()">
                            <div class="sb-nav-link-icon"><i class="fas fa-door-open fa-2x"></i></div>
                            Cerrar sesión
                        </a>
                <% } else { %>
                    <div class="sb-sidenav-menu-heading orange-border-t py-3">Sesión</div>
                    <a class="nav-link" href="javascript:toggleFloating(1)">
                        <div class="sb-nav-link-icon"><i class="fas fa-user fa-2x"></i></div>
                        Iniciar sesión
                    </a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
