@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

svg {
	margin: 0;
}

path {
	pointer-events: none;
}

th {
	border: 0;
}

td {
	vertical-align: middle;
}

label {
	margin-left: 1rem;
}

input {
	padding-left: 1.2rem !important;
}

table {
	box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.175);
}

body.sb-nav-fixed {
	font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}

#layoutNavbar {
	padding-bottom: 2rem;
	padding-top: 2.2rem;
}

#load-b {
	visibility: visible;
	z-index: 1070;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

#load-b.fade {
	opacity: 0;
}

#load-b.hidden {
	z-index: -1000;
	visibility: hidden;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1500;
	left: 50%;
	top: 10px;
	font-size: 1.15rem;
}

#snackbar.show {
	visibility: visible;
}

#pag {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
}

@-webkit-keyframes ghost-anim {
	0% { top: -7px; }
	50% { top: 10px; }
	100% { top: -7px; }
}

@keyframes ghost-anim {
	0% { top: -7px; }
	50% { top: 10px; }
	100% { top: -7px; }
}

@keyframes appear {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes blink {
	0% { opacity: 0.3; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	100% { opacity: 0.3; }
}

@keyframes fill-up {
	0% { box-shadow: 0px 0 0 0 #00000000; }
	100% { box-shadow: 0px 10rem 0 45vw #000000e3; }
}

.top {
	top: 0;
}

.start {
	left: 0;
}

.end {
	right: 0;
}

.bottom {
	bottom: 0;
}

.fs-7 {
	font-size: 0.8rem;
}

.pointer-event-none {
	pointer-events: none;
}

.bg-ligth-gray {
	color: #2c2c2c;
	background: #d4d4d4;
	background: -moz-linear-gradient(125deg, #d4d4d4 0%, #cccccc8b 35%, #ffffff00 60%);
	background: -webkit-linear-gradient(125deg, #d4d4d4 0%, #cccccc8b 35%, #ffffff00 60%);
	background: linear-gradient(125deg, #d4d4d4 0%, #cccccc8b 35%, #ffffff00 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4d4",endColorstr="#ffffff",GradientType=1);
}

.btn { border: none; }

.btn:hover {
	-webkit-box-shadow: 0px 4px 30px -10px rgba(0,0,0,0.66); 
	box-shadow: 0px 4px 30px -10px rgba(0,0,0,0.66);
}

.fade-anim {
	transition: all ease-in-out 0.2s;
}

.fade-anim.fade-anim-appear {
	opacity: 1;
	visibility: visible;
	display: inherit;
}

.fade-anim.fade-anim-disappear {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.floating {
	z-index: 1050;
	text-align: -webkit-center;
	width: min-content;
	height: min-content;
	top: 7rem;
	left: 0;
	right: 0;
	display: none;
	transition: opacity 0.2s;
}

.floating.show {
	opacity: 1;
	display: flex;
}

.floating.hide {
	opacity: 0;
	display: none;
}

.floating > .card.limit {
	max-width: 32rem;
	box-shadow: 0px 0 0 0 #00000000;
}

.show.floating > .card.limit {
	animation: fill-up 0.75s ease forwards;
}

/* >>  W i d t h  << */
.w-100 { width: 100% !important; }
.w-90 { width: 90% !important; }
.w-85 { width: 85% !important; }
.w-80 { width: 80% !important; }
.w-75 { width: 75% !important; }
.w-50 { width: 50% !important; }
.w-40 { width: 40% !important; }
.w-30 { width: 30% !important; }
.w-25 { width: 25% !important; }
/* >>  W i d t h  << */

/* >>  V i r t u a l   H e i g h t  << */
.vh-100 { height: 100vh !important; }
.vh-90 { height: 90vh !important; }
.vh-85 { height: 85vh !important; }
.vh-80 { height: 80vh !important; }
.vh-75 { height: 75vh !important; }
.vh-50 { height: 50vh !important; }
.vh-40 { height: 40vh !important; }
.vh-30 { height: 30vh !important; }
.vh-25 { height: 25vh !important; }
/* >>  V i r t u a l   H e i g h t  << */

/* >>  V i r t u a l   W i d t h  << */
.vw-100 { width: 100vw !important; }
.vw-90 { width: 90vw !important; }
.vw-85 { width: 85vw !important; }
.vw-80 { width: 80vw !important; }
.vw-75 { width: 75vw !important; }
.vw-50 { width: 50vw !important; }
.vw-40 { width: 40vw !important; }
.vw-30 { width: 30vw !important; }
.vw-25 { width: 25vw !important; }
/* >>  V i r t u a l   W i d t h  << */

/* =>576px - small (sm) */
@media (min-width: 576px) {
	.w-sm-90 { width: 90% !important; }
	.w-sm-80 { width: 80% !important; }
}

/* <768px - less than medium (md) */
@media (max-width: 768px) {
	.w-sm-100 { width: 100% !important; }
	#closeFloat { margin-top: 4rem; }
	.carousel-bg { width: inherit !important; }
}

/* =>768px - medium (md) */
@media (min-width: 768px) {
	.w-md-100 { width: 100% !important; }
	.w-md-90 { width: 90% !important; }
	.w-md-80 { width: 80% !important; }
	.w-md-75 { width: 75% !important; }
	.w-md-50 { width: 50% !important; }
	.w-md-30 { width: 30% !important; }
	.w-md-25 { width: 25% !important; }
	
	.vw-md-100 { width: 100vw !important; }
	.vw-md-90 { width: 90vw !important; }
	.vw-md-85 { width: 85vw !important; }
	.vw-md-80 { width: 80vw !important; }
	.vw-md-75 { width: 75vw !important; }
	.vw-md-50 { width: 50vw !important; }
	.vw-md-40 { width: 40vw !important; }
	.vw-md-30 { width: 30vw !important; }
	.vw-md-25 { width: 25vw !important; }

	.col-md { flex: 1 0 0%; }
}

/* =>992px - large (lg) */
@media (min-width: 992px) {
	.w-lg-100 { width: 100% !important; }
	.w-lg-90 { width: 90% !important; }
	.w-lg-80 { width: 80% !important; }
	.w-lg-75 { width: 75% !important; }
	.w-lg-50 { width: 50% !important; }
	.w-lg-30 { width: 30% !important; }
	.w-lg-25 { width: 25% !important; }
	
	.vw-lg-100 { width: 100vw !important; }
	.vw-lg-90 { width: 90vw !important; }
	.vw-lg-85 { width: 85vw !important; }
	.vw-lg-80 { width: 80vw !important; }
	.vw-lg-75 { width: 75vw !important; }
	.vw-lg-50 { width: 50vw !important; }
	.vw-lg-40 { width: 40vw !important; }
	.vw-lg-30 { width: 30vw !important; }
	.vw-lg-25 { width: 25vw !important; }
}

@media (min-width: 1118px) {
	.w-big-80 { width: 80% !important; }
}

.align-self-center {
	align-self: center;
}

.closeReg {
	right: 1.5rem;
	top: 1.5rem;
	position: absolute;
}

.logo-3 {
	max-height: 3rem;
}

.fs-1-5x {
	font-size: 1.5rem;
}

.text-justify {
	text-align: justify;
}

.snack {
	z-index: 1055;
	left: 0;
	right: 0;
	text-align: -webkit-center;
}

.bg-dark-50 {
	background-color: rgba(31, 31, 31, 0.5);
	background: rgba(31, 31, 31, 0.5);
}

.green-border-b {
	border-bottom: 10px solid #99d128;
}

.orange-border-b {
	border-bottom: 10px solid #e29e20;
}

.green-border-t {
	border-top: 10px solid #99d128;
}

.orange-border-t {
	border-top: 10px solid #e29e20;
}

.top-border-b[data-color] {
	border-bottom: 10px solid #424242;
	/* Experimental - no works yet */
	border-bottom: 10px solid attr(data-color color, #424242);
}

.sidebar-top-p {
	padding: 5px 0 6px 0;
}

.h-45-r {
	min-width: fit-content;
	height: 45rem;
	max-height: max-content;
}

.sb-sidenav-menu {
	transition: all 0.25s;
}

.sb-sidenav-menu:hover {
	box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.7);
}

.f-vScreen-15 {
	font-size: calc((15vw + 15vh) / 2);
}

.text-black-15 {
	color: rgba(0, 0, 0, 0.15);
}

.text-black-25 {
	color: rgba(0, 0, 0, 0.25);
}

.text-ghost {
	font-style: italic;
	font-variant: all-petite-caps;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.4) !important;
}

.icon-ghost {
	position: relative;
	-webkit-animation: ghost-anim 4s ease-in-out infinite;
	animation: ghost-anim 4s ease-in-out infinite;
}

.btn.btn-on {
	color: rgb(36, 36, 36);
	background-color: #3fe698;
	border-color: #3fe698;
	-webkit-box-shadow: 0px 0px 20px -4px #17ff72;
	box-shadow: 0px 0px 20px -4px #17ff72;
}

.btn-success {
	color: #fff;
	background-color: #46cc8d;
	border-color: #46cc8d;
}
.btn-success:hover {
	color: #fff;
	background-color: #61d19d;
	border-color: #61d19d;
}
.btn-check:focus + .btn-success,
.btn-success:focus {
	color: #fff;
	background-color: #24cc7e;
	border-color: #41a174;
	box-shadow: 0 0 0 0.25rem rgba(54, 202, 133, 0.5);
}
.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #41a174;
	border-color: #41a174;
}
.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(54, 202, 133, 0.5);
}
.btn-success:disabled,
.btn-success.disabled {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.carousel-bg {
	position: absolute;
	width: 75vw;
	z-index: -1;
	margin-top: -3rem;
	padding: 0;
}

.carousel-bg .carousel {
	overflow: hidden;
	height: calc(45rem - 7vw);
	filter: blur(3px) saturate(1.3);
}

.carousel-text {
	color: #f7f7f7;
	background: #383838c2;
	margin: 10rem auto;
	border-radius: 8px;
	padding: 1rem 1.5rem;
}

.mt-6 {
	margin-top: 4.5rem;
}

.ms-6 {
	margin-left: 4.5rem;
}

.mb-6 {
	margin-bottom: 4.5rem;
}

.mt-10 , .my-10 {
	margin-top: 10rem;
}

.mb-10 , .my-10 {
	margin-bottom: 10rem;
}

.text-card {
	word-break: break-word;
	font-family: "Dosis", sans-serif;
}

.shadow-sm,
.shadow-lg {
	transition: all 0.25s;
}

.shadow-sm:hover {
	box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.175) !important;
}

.table-effect {
	transition: all ease-in-out 0.25s;
}

.my-e-void {
	padding: 26vh 0;
}

.top-desing {
	margin: 0 0 7rem 0;
}

.top-desing > * {
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0;
	height: 250px;
	overflow: visible;
}

.top-desing .waves-design {
	background-image: url(../img/svg/waves.svg);
	background-repeat: no-repeat;
}

.dynamic-title {
	-webkit-border-radius: 0 5px 175px 0;
	-moz-border-radius: 0 5px 175px 0;
	border-radius: 0 5px 175px 0;
	-webkit-box-shadow: -6rem 1.1rem 30px -10px #fff, -15rem -1.9rem 29px 0px #fff, 2rem 3px 26px -11px #00000066;
	box-shadow: -6rem 1.1rem 30px -10px #fff, -15rem -1.9rem 29px 0px #fff, 2rem 3px 26px -11px #00000066;
	width: 50%;
	margin-top: 5.5rem;
	margin-bottom: 4rem;
}

.dynamic-title.inverse {
	-webkit-border-radius: 5px 0 0 175px;
	-moz-border-radius: 5px 0 0 175px;
	border-radius: 5px 0 0 175px;

	-webkit-box-shadow: 6rem 1.1rem 30px -10px #fff, 15rem -1.9rem 29px 0px #fff, -2rem 3px 26px -11px #00000066;
	box-shadow: 6rem 1.1rem 30px -10px #fff, 15rem -1.9rem 29px 0px #fff, -2rem 3px 26px -11px #00000066;
}

.dynamic-title-front {
	-webkit-border-radius: 175px 0 175px 0;
	-moz-border-radius: 175px 0 175px 0;
	border-radius: 0 0 115px 115px;

	-webkit-box-shadow: -6rem 1.1rem 30px -10px #fff, -15rem -1.9rem 29px 0px #fff, 2rem 3px 26px -11px #00000093;
	box-shadow: -45px -25px 35px -10px #fff, 45px -25px 29px 0px #fff, 0 15px 45px -11px #00000093;

	width: 75%;
	margin-top: 5.5rem;
	margin-bottom: 4rem;
}

.rot-20>svg {
	transform: rotate(0deg);
	transition: all 0.2s;
}

.rot-20.move>svg {
	transform: rotate(90deg);
}

.blink {
	animation: blink 5s ease-in-out infinite;
}

.force-disabled {
	pointer-events: none;
	opacity: 0.5;
}

/* Reportes */
#bars canvas {
	max-height: 425px;
}

.canvas-container.semiDoughnutChart canvas {
	max-height: 200px;
}

.canvas-container.lineChart canvas {
	min-height: 150px;
	min-width: 285px;
}

.canvas-container {
	min-height: 150px;
	height: max-content;
}

.canvas-container.semiDoughnutChart span {
	font-family: 'Oswald', sans-serif;
	font-size: 180%;
	text-align: center;
	text-decoration: underline;
	margin-top: -65px;
	height: max-content;
	pointer-events: none;
	animation: appear 0.9s;
}

.add-canvas>.btn {
	margin: -20vh 0 0 -10vw;
}

.btn-download:hover {
	color: #2d8f54;
}

.btn-add-panel:hover {
	color: #268bb3;
}

.config-menu {
	z-index: 2;
	background-color: #9b9b9e;
}
/* Reportes */

/* Control */
.dataTable-selector {
	padding: 0.5rem 2rem 0.5rem 0.75rem !important;
}

.dataTable-dropdown {
	margin-right: 2.3rem;
}

.dataTable-dropdown > label {
	display: grid;
}

.dataTable-search {
	margin-left: 2.3rem;
}

.dataTable-top {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.dataTable-container {
	margin: 0.25rem 0;
	padding: 0 1rem;
}

.dataTable-table {
	margin: 3rem 0;
}
/* Control */

/* Tooltip */
#tooltip {
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	background: #222222ec;
	color: white;
	position: absolute;
	border-radius: 0.5rem;
	z-index: 1600;
	-webkit-box-shadow: 0px 10px 23px -5px #000000;
	box-shadow: 0px 10px 23px -5px #000000;
	transition: all 0.25s;
}

#tooltip.show {
	visibility: visible;
	opacity: 1;
}

#tooltip p {
	margin: 0.7rem 1.5rem 0.7rem 1.5rem;
	z-index: 99;
	max-width: 25vw;
	min-width: fit-content;
	text-align: justify;
	font-size: 0.9rem;
}
/* Tooltip */

/* Evaluacion */
.row.list-mode .card-header {
	width: 1rem;
	border-radius: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);
}

.row.list-mode .card-body {
	width: auto;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
	color: #424242;
}

input.super-happy:hover + svg,
input.super-happy:focus + svg {
	color: rgb(159, 204, 235);
}
input.super-happy:checked + svg {
	color: rgb(61, 161, 228);
}

input.happy:hover + svg,
input.happy:focus + svg {
	color: rgb(152, 236, 184);
}
input.happy:checked + svg {
	color: rgb(57, 223, 120);
}

input.sad:hover + svg,
input.sad:focus + svg {
	color: rgb(240, 202, 149);
}
input.sad:checked + svg {
	color: rgb(243, 155, 32);
}

input.super-sad:hover + svg,
input.super-sad:focus + svg {
	color: rgb(241, 147, 135);
}
input.super-sad:checked + svg {
	color: rgb(245, 78, 56);
}

/* Tables */
.table-header.deactivated.light {
	--bs-table-bg: #dddddd;
	--bs-table-striped-bg: #dddddd;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #dddddd;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #dddddd;
	--bs-table-hover-color: #000;
	color: #000;
}

.table-header.activated.light {
	--bs-table-bg: #bee98e;
	--bs-table-striped-bg: #bee98e;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #bee98e;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #bee98e;
	--bs-table-hover-color: #000;
	color: #000;

	box-shadow: 0 -0.3rem 0.8rem rgba(136, 255, 0, 0.322);
}

.table-header.deactivated.dark {
	--bs-table-bg: #525252;
	--bs-table-striped-bg: #525252;
	--bs-table-striped-color: #f5f5f5;
	--bs-table-active-bg: #525252;
	--bs-table-active-color: #f5f5f5;
	--bs-table-hover-bg: #525252;
	--bs-table-hover-color: #f5f5f5;
	color: #f5f5f5;
}

.table-header.activated.dark {
	--bs-table-bg: #4a6629;
	--bs-table-striped-bg: #4a6629;
	--bs-table-striped-color: #f5f5f5;
	--bs-table-active-bg: #4a6629;
	--bs-table-active-color: #f5f5f5;
	--bs-table-hover-bg: #4a6629;
	--bs-table-hover-color: #f5f5f5;
	color: #f5f5f5;

	box-shadow: 0 -0.3rem 0.8rem rgba(136, 255, 0, 0.322);
}

.card.card-option {
	cursor: pointer;
}

.card.card-option.selected {
	box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.175) !important;
	transition: all 0.25s;
}

.card.card-option.selected .card-header {
	background-color: #39d3f1;
	box-shadow: 0 -0.2rem 1.5rem rgba(117, 240, 220, 0.75);
	transition: all 0.25s;
}
/* Tables */
/* Evaluacion */

/* Control */
.i-info {
	background: rgba(0, 0, 0, 0);
	transition: all 0.3s;
}

.i-info:hover {
	background: #e26d2a4f;
	box-shadow: 0px 1px 35px -7px #e26d2a4f;
}

.i-info[data-status="1"]:hover {
	background: #a5e22a70;
	box-shadow: 0px 1px 35px -7px #a5e22a70;
}

.i-info .i-status {
	background: #e26d2a48;
}

.i-info .i-status::before {
	content: "No realizado";
}

.i-info[data-status="1"] .i-status {
	background: #a5e22a70;
}

.i-info[data-status="1"] .i-status::before {
	content: "Realizado";
}
/* Control */

/* Pagination */
.pagination a {
	color: #2e2e2e;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 3px;
	opacity: 1;
	transition: all 0.2s;
}

.pagination a.active {
	background-color: #7cdfc9;
	color: white;
}

.pagination a.blocked {
	cursor: default;
	color: #d1d1d1;
}

.pagination a:hover:not(.active, .blocked) {
	background-color: #ececec;
}

.pag-cont .rows-quantity {
	width: 7rem;
}
/* Pagination */

/* Secret */
code {
	font-size: 0.875em;
	color: #1a975d;
	word-wrap: break-word;
}

.container-overlay {
	overflow: overlay;
}

.h-max-content {
	height: max-content;
	padding-bottom: 1rem;
}
/* Secret */

/* Select Dropdown */
.slc-drpdwn {
	width: 220px;
	position: relative;
}

.slc-drpdwn select {
	display: none;
}

.slc-drpdwn > span {
	cursor: pointer;
	padding: 9px 16px;
	border-radius: 6px;
	display: block;
	position: relative;
	color: #CDD9ED;
	border: 1px solid #CDD9ED;
	background: #fff;
	transition: all 0.3s ease;
}

.slc-drpdwn > span:before, .slc-drpdwn > span:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 2px;
	border-radius: 1px;
	top: 50%;
	right: 15px;
	background: #99A3BA;
	transition: all 0.3s ease;
}

.slc-drpdwn > span:before {
	margin-right: 4px;
	transform: scale(0.96, 0.8) rotate(50deg);
}

.slc-drpdwn > span:after {
	transform: scale(0.96, 0.8) rotate(-50deg);
}

.slc-drpdwn ul {
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	max-height: calc(8 * 42px);
	top: 42px;
	left: 0;
	z-index: 1;
	right: 0;
	background: #fff;
	border-radius: 6px;
	overflow-x: hidden;
	overflow-y: auto;
	transform-origin: 0 0;
	transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
	transform: scale(0.8) translate(0, 4px);
	border: 1px solid #E4ECFA;
}

.slc-drpdwn ul li {
	opacity: 0;
	transform: translate(6px, 0);
	transition: all 0.3s ease;
}

.slc-drpdwn ul li a {
	cursor: pointer;
	display: block;
	padding: 10px 16px;
	color: #99A3BA;
	text-decoration: none;
	outline: none;
	position: relative;
	transition: all 0.3s ease;
}

.slc-drpdwn ul li a:hover {
	color: #6C7486;
}

.slc-drpdwn ul li.active a {
	color: #6C7486;
	background: #F5F9FF;
}

.slc-drpdwn ul li.active a:before, .slc-drpdwn ul li.active a:after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	right: 17px;
	top: 50%;
	opacity: 0;
	background: #99A3BA;
	transition: all 0.2s ease;
}

.slc-drpdwn ul li.active a:before {
	transform: rotate(45deg) scale(0.95);
}

.slc-drpdwn ul li.active a:after {
	transform: rotate(-45deg) scale(0.95);
}

.slc-drpdwn ul li.active a:hover:before, .slc-drpdwn ul li.active a:hover:after {
	opacity: 1;
}

.slc-drpdwn ul li:first-child a {
	border-radius: 6px 6px 0 0;
}

.slc-drpdwn ul li:last-child a {
	border-radius: 0 0 6px 6px;
}

.slc-drpdwn.filled > span {
	color: #6C7486;
}

.slc-drpdwn.open > span {
	border-color: #23C4F8;
}

.slc-drpdwn.open > span:before, .slc-drpdwn.open > span:after {
	background: #6C7486;
}

.slc-drpdwn.open > span:before {
	transform: scale(0.96, 0.8) rotate(-50deg);
}

.slc-drpdwn.open > span:after {
	transform: scale(0.96, 0.8) rotate(50deg);
}

.slc-drpdwn.open ul {
	opacity: 1;
	visibility: visible;
	transform: scale(1) translate(0, 12px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.slc-drpdwn.open ul li {
	opacity: 1;
	transform: translate(0, 0);
}

.slc-drpdwn.open ul li:nth-child(1) {
	transition-delay: 80ms;
}

.slc-drpdwn.open ul li:nth-child(2) {
	transition-delay: 160ms;
}

.slc-drpdwn.open ul li:nth-child(3) {
	transition-delay: 240ms;
}

.slc-drpdwn.open ul li:nth-child(4) {
	transition-delay: 320ms;
}

.slc-drpdwn.open ul li:nth-child(5) {
	transition-delay: 400ms;
}

.slc-drpdwn.open ul li:nth-child(6) {
	transition-delay: 480ms;
}

.slc-drpdwn.open ul li:nth-child(7) {
	transition-delay: 560ms;
}

.slc-drpdwn.open ul li:nth-child(8) {
	transition-delay: 640ms;
}

.slc-drpdwn.open ul li:nth-child(9) {
	transition-delay: 720ms;
}

.slc-drpdwn.open ul li:nth-child(10) {
	transition-delay: 800ms;
}

select.slc-drpdwn {
	padding: 9px 16px;
	border-radius: 6px;
	color: var(#3f4656);
	border: 1px solid var(#2f3545);
	background: var(#151924);
	line-height: 22px;
	font-size: 16px;
	font-family: inherit;
	-webkit-appearance: none;
}
/* Select Dropdown */

/* Button Language - https://codepen.io/himalayasingh/pen/EdVzNL */
/* Button 17 */
.toggle-button-cover
{
    position: relative;
    height: 140px;
    box-sizing: border-box;
}

.button-cover
{
    height: 100px;
    background-color: #fff;
    border-radius: 4px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 7rem;
    height: 36px;
    padding: 0;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-17 .knobs:before, #button-17 .knobs span {
    position: absolute;
    top: 4px;
    left: 5%;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
}

#button-17 .knobs:before {
    transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    z-index: 2;
}

#button-17 .knobs span {
    background-color: #03A9F4;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    z-index: 1;
    height: 79%;
    width: 45%;
}

#button-17 .checkbox:checked + .knobs:before {
    content: 'English';
    left: 52%;
}

#button-17 .checkbox:not(:checked) + .knobs:before {
    content: 'Español';
    left: 6%;
}

#button-17 .checkbox:checked + .knobs span {
    left: 50%;
    background-color: #F44336;
}

#button-17 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}