svg {
	margin: 0;
}

th {
	border: 0;
}

#backpanel {
	top: 0%;
	position: fixed;
	z-index: 1049;
}

#closeReg {
	right: 1.5rem;
    top: 1.5rem;
}

#layoutNavbar {
	padding-bottom: 2rem;
    padding-top: 2.2rem;
}

#load-b {
	z-index: 1070;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (max-width: 768px) {
	.w-sm-100 {
		width: 100% !important;
	}
	#closeFloat {
		margin-top: 4rem;
	}
}

@media (min-width: 768px) {
	.w-md-50 {
		width: 50% !important;
	}
	.w-md-75 {
		width: 75% !important;
	}
}

.close-pill {
	max-width: 7rem;
	width: 6rem;
	min-width: 4rem;
}

.floating {
	z-index: 1050;
	top: 7rem;
	left: 0;
    right: 0;
	text-align: -webkit-center;
}

.noti {
	z-index: 1055;
	left: 0;
    right: 0;
	text-align: -webkit-center;
}

.floating>.card.limit  {
	max-width: 32rem;
}

.bg-dark-50 {
	background-color: rgba(31, 31, 31, 0.5);
	background: rgba(31, 31, 31, 0.5);
}

.blur-on {
	filter: blur(5px);
	-webkit-animation: fadein 0.8s;
	animation: fadein 0.8s;
}

.blur-off {
	filter: blur(0px);
}

@-webkit-keyframes fadein {
	from {
		filter: blur(0px);
	}
	to {
		filter: blur(5px);
	}
}

@keyframes fadein {
	from {
		filter: blur(0px);
	}
	to {
		filter: blur(5px);
	}
}
