html {
	height: 100%;
}

#utna-bg {
	background-image: url(../img/bg-utna.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	left: 0;right: 0;height: 100vh;
	position: absolute;
	image-rendering: -webkit-optimize-contrast;
	filter: saturate(1.35) blur(2px);
	z-index: -1;
}

.login-box {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
	border-radius: 10px;
	background: rgba(33, 33, 38, 1);
	transition: all 200ms ease-in-out;
}

.login-box > span{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5px;
}

.login-box.waiting > span{
	background: linear-gradient(90deg, transparent 0%, #f4b403 30%, transparent 30%, transparent 70%, #03f46f 100%);
	animation: waiting 3s linear infinite;
}
@keyframes waiting{
    0%	{ left: -100vw; }
    100%{ left: 50vw; }
}

.login-box.stop > span{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5px;
	background: transparent;
	animation: stop 1s linear normal;
}
@keyframes stop{
    0%	{ background: #ffffffee; }
    25%	{ opacity: 1; }
    30%	{ opacity: .85; }
    100%{ opacity: 0; }
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.login-box .input-box {
	position: relative;
}

.login-box .input-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 2.5rem;
	border: none;
	border-bottom: 1.5px solid #fff;
	outline: none;
	background-color: inherit;
	transition: border 200ms ease-in-out;
}

.login-box .input-box input.invalid {
	border: 1.5px solid #cc2929;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.login-box .input-box label {
	position: absolute;
	top: -38px;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}

/*.login-box .input-box input:focus ~ label,
.login-box .input-box input:valid ~ label {
	top: -34px;
	left: 0;
	color: #ffffff;
	font-size: 14px;
}*/

.login-box button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #d3a712 !important;
	background: #ffffff25;
	border-radius: 7px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	margin-top: 10px;
	letter-spacing: 3px;

	transition: all 300ms ease-in-out;
}

.login-box button:hover {
	background: #90cc57;
	color: #fff !important;
	border-radius: 5px;
}

.login-box button:disabled {
	background: #383838;
	color: rgb(141, 141, 141) !important;
}


/* Login From: https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda */

.waves {
	position: fixed;
	width: 115%;
	height: 28vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
	bottom: 0;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -1s;
	animation-duration: 16s;
}
.parallax > use:nth-child(2) {
	animation-delay: 0;
	animation-duration: 23s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 29s;
}
.parallax > use:nth-child(4) {
	animation-delay: -7s;
	animation-duration: 35s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
	.content {
		height: 30vh;
	}
	h1 {
		font-size: 24px;
	}
}

/* Waves From: https://codepen.io/goodkatz/pen/LYPGxQz */