#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
    color: gray;
}

input.super-happy:hover+svg,
input.super-happy:focus+svg {
	color: rgb(159, 204, 235);
}
input.super-happy:checked+svg {
	color: rgb(61, 161, 228);
}

input.happy:hover+svg,
input.happy:focus+svg {
	color: rgb(152, 236, 184);
}
input.happy:checked+svg {
	color: rgb(57, 223, 120);
}

input.sad:hover+svg,
input.sad:focus+svg {
	color: rgb(240, 202, 149);
}
input.sad:checked+svg {
	color: rgb(243, 155, 32);
}

input.super-sad:hover+svg,
input.super-sad:focus+svg {
	color: rgb(241, 147, 135);
}
input.super-sad:checked+svg {
	color: rgb(245, 78, 56);
}
