@charset "UTF-8";

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

.bg-gradient-primary-to-secondary {
	background: #2c3236 !important;
}

.flex-table {
	padding: 10px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	line-height: 30px;
}

.flex-th {
	padding: 20px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
}

.flex-td {
	padding: 10px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	line-height: 0px;
	text-align: center;
}

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-width: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.fade {
	transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
	.fade {
		transition: none;
	}
}
.fade:not(.show) {
	opacity: 0;
}

.collapse:not(.show) {
	display: none;
}

.collapsing {
	transition: .2s height .35s ease /*!important*/;
}
@media (prefers-reduced-motion: reduce) {
	.collapsing {
		transition: none;
	}
}

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 1020;
}

@media (min-width: 576px) {
	.sticky-sm-top {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}
@media (min-width: 768px) {
	.sticky-md-top {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}
@media (min-width: 992px) {
	.sticky-lg-top {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}
@media (min-width: 1200px) {
	.sticky-xl-top {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}
@media (min-width: 1400px) {
	.sticky-xxl-top {
		position: sticky;
		top: 0;
		z-index: 1020;
	}
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}















html,
body {
	height: 100%;
}

#layoutAuthentication {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
	min-width: 0;
	flex-grow: 1;
}
#layoutAuthentication #layoutAuthentication_footer {
	min-width: 0;
}

#layoutSidenav {
	display: flex;
}

#layoutSidenav #layoutSidenav_nav {
	flex-basis: 225px;
	flex-shrink: 0;
	transition: transform 0.15s ease-in-out;
	z-index: 1038;
	transform: translateX(-160px);
}

#layoutSidenav #layoutSidenav_content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 0;
	flex-grow: 1;
	min-height: calc(100vh - 56px);
	margin-left: -160px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
	transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1037;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
	#layoutSidenav #layoutSidenav_nav {
		transform: translateX(0);
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: 0;
		transition: margin 0.15s ease-in-out;
	}

	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
		transform: translateX(-160px);
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
		margin-left: -160px;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
		display: none;
	}

	.sb-nav-fixed.sb-sidenav-toggled #layoutSidenav_nav .sb-nav-link-text {
		transition: all 0.15s ease-out;
		width: 0px;
		opacity: 0;
		display: none;
	}
	.sb-nav-fixed.sb-sidenav-toggled #layoutSidenav_nav .sb-nav-link-icon {
		transition: all 0.15s ease-out;
		margin: 0 0 0 161px;
	}
	.sb-nav-fixed.sb-sidenav-toggled #layoutSidenav_nav .sb-sidenav-menu-heading {
		transition: all 0.15s ease-out;
		padding: 0 !important;
		height: min-content;
	}
}
@media (max-width: 991px) {
	#layoutSidenav #layoutSidenav_nav {
		transform: translateX(-225px);
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: -225px;
	}

	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
		transform: translateX(0);
		position: fixed;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
		display: none;
	}
}

.sb-nav-fixed .sb-topnav {
	z-index: 1039;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 225px;
	height: 100vh;
	z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
	padding-top: 56px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	padding-left: 225px;
	top: 56px;
}

#layoutError {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#layoutError #layoutError_content {
	min-width: 0;
	flex-grow: 1;
}
#layoutError #layoutError_footer {
	min-width: 0;
}

.img-error {
	max-width: 20rem;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
	margin-right: 0.5rem;
}

.sb-topnav {
	padding-left: 0;
	height: 56px;
	z-index: 1039;
}
.sb-topnav .navbar-brand {
	width: 225px;
	margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
	color: rgba(255, 255, 255, 0.5);
}
.sb-topnav.navbar-light #sidebarToggle {
	color: #212529;
}

.sb-sidenav {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
	flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
	flex-direction: column;
	flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
	padding: 1.75rem 1rem 0.75rem;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	position: relative;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link:hover {
	background-color: #ffffff36;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
	font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
	display: inline-block;
	margin-left: auto;
	transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
	transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
	margin-left: 1.5rem;
	flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
	padding: 0.75rem;
	flex-shrink: 0;
}

.sb-sidenav-dark {
	background-color: #212529;
	color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
	color: #fff;
}
.sb-sidenav-dark .sb-sidenav-footer {
	background-color: #343a40;
}

.sb-sidenav-light {
	background-color: #f8f9fa;
	color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: #fff;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
	color: rgb(255, 255, 255);
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
	color: #ffffff;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
	color: #ffffff;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
	color: #ffffff;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
	color: #ffffff;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
	color: #ffffff;
}
.sb-sidenav-light .sb-sidenav-footer {
	background-color: #e9ecef;
}