<%- include('template/!head.ejs') %>

<body>
    <div class="snack mx-auto w-25 d-flex flex-nowrap justify-content-center position-fixed">
        <div id="snack-container" class="container-fluid mt-5"></div>
    </div>
    <nav id="layoutNavbar" data-log="<%= (session) ? true : false %>" class="d-none"></nav>

    <div id="load-b" class="bg-light p-0 m-0 mx-auto flex-nowrap position-fixed d-flex show">
        <div class="container h-100 d-flex">
            <div class="m-auto">
                <div class="spinner-border text-info"></div>
            </div>
        </div>
    </div>

    <div id="floatingLogin" class="hide floating">
        <div class="login-box">
            <div class="container d-flex">
                <img src="/img/logo-utna.png" alt="Logo UTNA" class="px-3 w-sm-80 w-md-60 mx-auto img-fluid">
            </div>
            <h2 class="pt-4 pb-3">
                <span class="lang" data-lang="es">Iniciar Sesi칩n</span>
                <span class="lang" data-lang="en">Login</span>
            </h2>
            <div class="input-box">
                <input class="rounded-3" type="text" id="txt-code" required autofocus>
                <label>
                    <span class="lang" data-lang="es">C칩digo (Usuario)</span>
                    <span class="lang" data-lang="en">Code (User)</span>
                </label>
            </div>
            <div class="input-box">
                <input class="rounded-3" type="password" name="pass" id="txt-pass" required>
                <label>
                    <span class="lang" data-lang="es">Contrase침a</span>
                    <span class="lang" data-lang="en">Password</span>
                </label>
            </div>
            <div class="container d-flex">
                <button id="btn-login" class="btn mx-auto">
                    <p class="m-0" class="lang" data-lang="es">Iniciar Sesi칩n</p>
                    <p class="m-0" class="lang" data-lang="en">Login</p>
                </button>
            </div>
        </div>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
    </div>

    <script src="/js/home.js"></script>
    <%- include('template/!scripts.ejs') %>
</body>

</html>
